01_02_NSMC/sp_tokenizer/
01_02_NSMC/nsmc/
01_02_NSMC/korean_spm*
01_02_NSMC/.ipynb_checkpoints/
*.temp
*.ih5
*.gz
*.zip
*.bin
*.h5
**/.ipynb_checkpoints
10-12_Seq2seq_interpreter/Mecab-ko-for-Google-Colab/
10-12_Seq2seq_interpreter/kor-eng-train/
10-12_Seq2seq_interpreter/korean-parallel-corpora/
spa-eng*
10-12_Seq2seq_interpreter/mecab-0.996-ko-0.9.2/
10-12_Seq2seq_interpreter/mecab-ko-dic-2.1.1-20180720/
*.deb
16-18 Chatbot/mecab*
16-18 Chatbot/Mecab*
